.categoryMain{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.mainHeading{
    margin-top: 30px;
    text-transform: uppercase;
    color: #DAAF70;
    font-family: 'Langar';
}
.categorySection{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cat{
    width: 300px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Langar';
    font-size: 18px;
    color: #2F2F2F;
    background-color: #DAAF70 !important;
}