.navLogo{
    width: 300px;
    margin: 10px;
}
.Nav{
    background-color: transparent !important;
}
.navLinks{
    font-family: 'Langar' !important;
    width: 100px !important;
    margin: 5px !important;
    padding: 5px !important;
    text-align: center !important;
    border-radius: 5px !important;
    color: #DAAF70 !important;
    background-color: #2F2F2F !important;
    border: 2px solid #DAAF70 !important;
    font-weight: bold;
}
.navLinks:hover{
    text-decoration: none;
    color: #2F2F2F;
    background-color: #DAAF70;
    border: 2px solid #2F2F2F;
}